/build
/.dart_tool
/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
/.idea
./.flutter-plugins-dependencies
./.flutter-plugins
